<%= image_tag @collection_item.main_image %>

<h1><%= @collection_item.title %></h1>

<em><%= @collection_item.subtitle %></em>

<p><%= @collection_item.body %></p>

<h2>Technologies Used</h2>

<% @collection_item.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>

